*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
.yardoc
coverage
doc/working
doc/*.html
doc/css
doc/js
doc/Pomodori
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
